body {
    font-family: "Times New Roman", sans-serif; background-color: #000000; 
    color: #ffffff;
}

h1 {
    font-size: 64px; text-align: center; padding: 10px;
}

h2 {
    font-size: 32px; text-shadow: #808080 4px 4px 2px;
}

p{
    font-size: 24px; padding-top: 15px;
}

img {
   width: 550px; height: auto; 
   margin-left: auto; margin-right: auto; 
   display: block;
}

div{
    min-height: 150px; width: auto; padding: 25px;
}

#red {
    background-color: #ff0000; text-align: right;
}

#blue {
    background-color: #0000FF; text-align: left;
}

#yellow {
    background-color: #FFFF00; text-align: right;
    color: #000000;
}

#yellow h2{
    text-shadow: #c7e2c7 4px 4px 2px;
}

#green {
    background-color: #008000; text-align: left;
} 

footer p {
    text-align: center; padding-bottom: 10px; padding-right: 10px;
}