body {
    font: Times, sans-serif; background-color: #000000; 
    color: #ffffff;
}

h1 {
    font-size: 64px; position: absolute; left: 50%;
    transform: translateX(-50%); padding: 10px;

}

img {
   width: 550px; length: auto; position: absolute; left: 50%;
   transform: translateX(-50%); display: block;
}

div{
    position: relative; length: 150px; width: auto; padding: 25px;
    
}